/********************
YOUR STYLES
*******************/

/*Get Weather Icons*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css");



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    justify-content: center;
}

.heading {
    text-align: center;
    font-family: monospace;
    font-size: 5em;
    
}

.title {
    color: white; 
    position: relative;
    bottom: 30px;
}



.temp {
    
    font-family: monospace;
    font-size: 2em;
    position: relative;
    bottom: 20px;
}

.city {
    font-family: monospace;
    font-size: 3em;
}

main {
    background: white;
    padding: 1em;
    border-radius: 10px;
    
    
    /*Flexbox Layout*/
    display: flex;
    /*Short hand for flex-direction and flex-wrap*/
    flex-flow: row wrap;
    
}

section {
    background: steelblue;
    padding: 1em;
    margin: 1em; 
    border-radius: 10px;
    
    /*Flexbox as Child*/
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    /*Shorthand*/
    flex: 1 0 200px;    
}



/********************
MEDIA QUERIES
*******************/
/* Desktop */
@media screen /* 2560px = 160em */
  and (max-width: 160em)
  /* 1280px = 80em */
  and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
  body {
       background: blue;
  }

}

/* Tablet */
@media screen 
   /* 1279 = 79.9375em */  
  and (max-width: 79.9375em)
   /* 768px = 160em */
  and (min-width: 48em)  {

  /* Diagnostic Styling. */
  body {
       background: white;
  }

}

/* Mobile */
@media screen
  /* 767px = 47.9375em */
  and (max-width: 47.9375em)
  /* 320px = 20em */
  and (min-width: 20em) { 

  /* Diagnostic Styling. */
	body {
       background: white;
	}
	
}
